
<header>
    <img 
    src="https://github.com/Brunohfc.png" 
    alt="Bruno's pictures profile"
    width="130"
    height="130"
    loading="eager"
    >
    <h1>Bruno Henrick</h1>
</header>

<aside>
    <div class="container">
        <p>Site Reliability  Engineering | AZ-900 | Angular | Dynatrace</p>
        <p>
            Apaixonado por tecnologia e como ela transforma vidas, atuando como SRE e trazendo confiabilidade
            aos sistemas via observabilidade.
        </p>
        
        <nav>
            <ul>
                <!-- estou criando um fake button para as acoes com a tag a -->
                <li> 
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download Cv</a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/in/bruno-henrick/" target="_blank" class="btn btn-secundary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="icone para contato whatsapp"
                width="22px"
                height="22px"
                >

                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5562999619934&text=Ola,%20Bruno.%20Vi%20seu%20projeto%20e%20gostaria%20de%20falar%20com%20você." target="_blank">
                        <strong>Enviar mensagem para:</strong>
                        <p>whatsapp: (62)9 9961-9934</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets/icons/mail.svg" alt="icone para contato no e-mail"
                width="22px"
                height="22px"
                >

                <figcaption>
                    <a href="mailto:bhenrick8@gmail.com" target="_blank">
                        <strong>Enviar um e-mail para:</strong>
                        <p>bhenrick8&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
